{{import_globals}}
<div class="component__inner youtube__inner">

  {{> component this}}

  {{#any _transcript._externalTranscript _transcript._inlineTranscript}}
  <button class="aria-label js-skip-to-transcript" tabindex="-1" aria-label="{{_globals._components._youtube.skipToTranscript}}"></button>
  {{/any}}

  <div class="component__widget youtube__widget">

    <iframe width="640px" height="360px" style="width:100%;" src="{{_media._source}}?&autoplay={{#if _media._autoplay}}1{{else}}0{{/if}}&rel={{#if _media._showRelated}}1{{else}}0{{/if}}&loop={{#if _loop}}1{{else}}0{{/if}}&modestbranding={{#if _media._modestBranding}}1{{else}}0{{/if}}&color={{#if _media._progressColor}}{{_media._progressColor}}{{/if}}&controls={{#if _media._controls}}1{{else}}0{{/if}}&enablejsapi=1&playsinline=1&iv_load_policy={{#if _media._showAnnotations}}1{{else}}3{{/if}}" frameborder="0" {{#if _media._allowFullscreen}}allowfullscreen{{/if}}></iframe>

    {{#if _transcript}}
    <div class="youtube__transcript-container">
      {{#if _transcript._inlineTranscript}}
      <button class="youtube__transcript-btn youtube__transcript-btn-inline js-youtube-inline-transcript-toggle" aria-expanded="false">
        <span class="youtube__transcript-btn-text">{{_transcript.inlineTranscriptButton}}</span>
      </button>
      {{/if}}

      {{#if _transcript._externalTranscript}}
      <button onclick="top.window.open('{{_transcript.transcriptLink}}')" class="youtube__transcript-btn youtube__transcript-btn-external js-youtube-external-transcript-click">
        <span class="youtube__transcript-btn-text">
        {{#if _transcript.transcriptLinkButton}}
        {{_transcript.transcriptLinkButton}}
        {{else}}
        {{_transcript.transcriptLink}}
        {{/if}}
        </span>
      </button>
      {{/if}}

      {{#if _transcript._inlineTranscript}}
      <div class="youtube__transcript-body-inline" role="region"{{#if _transcript.inlineTranscriptButton}} aria-label="{{_transcript.inlineTranscriptButton}}"{{/if}}>
        <div class="youtube__transcript-body-inline-inner">
          {{{compile _transcript.inlineTranscriptBody}}}
        </div>
      </div>
      {{/if}}

    </div>
    {{/if}}

  </div>

</div>
