<div class="youtube-inner component-inner">
	{{> component this}}
	<iframe width="560" height="315" src="{{_source}}?&autoplay={{#if _isAutoPlay}}1{{else}}0{{/if}}&rel={{#if _isShowRelated}}1{{else}}0{{/if}}&loop={{#if _isLoop}}1{{else}}0{{/if}}&modestbranding={{#if _isModestBranding}}1{{else}}0{{/if}}&hd={{#if _isHD}}1{{else}}0{{/if}}&autohide={{#if _isAutoHideControls}}1{{else}}0{{/if}}&color={{#if _progressColor}}{{_progressColor}}{{/if}}&controls=1&enablejsapi=1&playsinline=1&showinfo=0&theme=light&iv_load_policy={{#if _isShowClosedCaptions}}1{{else}}3{{/if}}" frameborder="0" {{#if _isAllowFullscreen}}allowfullscreen{{/if}}></iframe>
</div>