<div class="youtube-inner component-inner" role="region" aria-label="{{_accessibility._ariaRegions.media}}">
	{{> component this}}
	<div class="youtube-widget component-widget">
		<iframe width="640px" height="360px" style="width:100%;" src="{{_media._source}}?&autoplay={{#if _media._autoplay}}1{{else}}0{{/if}}&rel={{#if _media._showRelated}}1{{else}}0{{/if}}&loop={{#if _loop}}1{{else}}0{{/if}}&modestbranding={{#if _media._modestBranding}}1{{else}}0{{/if}}&color={{#if _media._progressColor}}{{_media._progressColor}}{{/if}}&controls=3&enablejsapi=1&playsinline=1&showinfo=0&iv_load_policy={{#if _media._showAnnotations}}1{{else}}3{{/if}}" frameborder="0" {{#if _media._allowFullscreen}}allowfullscreen{{/if}}></iframe>
		{{#if _media.transcriptLink}}
	    <div class="youtube-transcript-container" role="document">
	      <a href="{{_media.transcriptLink}}" target="_blank" class="media-transcript">
	        {{#if _media.transcriptText}}
	          {{_media.transcriptText}}
	        {{else}}
	          {{_media.transcriptLink}}
	        {{/if}}
	      </a>
	    </div>
	    {{/if}}
	</div>
</div>