{{import_globals}}
<div class="youtube-inner component-inner">
    {{> component this}}
    {{#any _transcript._externalTranscript _transcript._inlineTranscript}}
        <button class="aria-label js-skip-to-transcript" aria-label="{{_globals._components._youtube.skipToTranscript}}"></button>
    {{/any}}
    <div class="youtube-widget component-widget">
        <iframe width="640px" height="360px" style="width:100%;" src="{{_media._source}}?&autoplay={{#if _media._autoplay}}1{{else}}0{{/if}}&rel={{#if _media._showRelated}}1{{else}}0{{/if}}&loop={{#if _loop}}1{{else}}0{{/if}}&modestbranding={{#if _media._modestBranding}}1{{else}}0{{/if}}&color={{#if _media._progressColor}}{{_media._progressColor}}{{/if}}&controls={{#if _media._controls}}1{{else}}0{{/if}}&enablejsapi=1&playsinline=1&iv_load_policy={{#if _media._showAnnotations}}1{{else}}3{{/if}}" frameborder="0" {{#if _media._allowFullscreen}}allowfullscreen{{/if}}></iframe>

        {{#if _transcript}}
        <div class="youtube-transcript-container">
            <div class="youtube-transcript-button-container">
                {{#if _transcript._inlineTranscript}}
                <button class="youtube-inline-transcript-button button" aria-expanded="false">
                    <div class="transcript-text-container">{{_transcript.inlineTranscriptButton}}</div>
                </button>
                {{/if}}
                {{#if _transcript._externalTranscript}}
                <button onclick="top.window.open('{{_transcript.transcriptLink}}')" class="youtube-external-transcript-button button" role="button">
                    <div class="transcript-text-container">
                        {{#if _transcript.transcriptLinkButton}}
                            {{_transcript.transcriptLinkButton}}
                        {{else}}
                            {{_transcript.transcriptLink}}
                        {{/if}}
                    </div>
                </button>
                {{/if}}
            </div>

            {{#if _transcript._inlineTranscript}}
            <div class="youtube-inline-transcript-body-container" role="region"{{#if _transcript.inlineTranscriptButton}} aria-label="{{_transcript.inlineTranscriptButton}}"{{/if}}>
                <div class="youtube-inline-transcript-body">
                {{{compile _transcript.inlineTranscriptBody}}}
                </div>
            </div>
            {{/if}}
        </div>
        {{/if}}
    </div>
</div>